.THIS .fontselect{
    font-family:Lato,"Segoe UI",Arial; 
}

.THIS .alignright {
    text-align:right;
}
.THIS .slds-m-left--large {
    font-size: 1.5em;
}

.THIS .anstxt{
    font-size:14px;
    color:#1d1d1d;
}

.THIS .anslbl{
    font-size:11.5px;
    color:#1d1d1d;
    letter-spacing:0;
}
.THIS .cllclr{
    background:#f2f2f2;
    height: 30px;
    vertical-align: middle;
}

.THIS .cllresize{
    width:15%;
}

.THIS .cllresize2{
    width:11%;
}

.THIS .btn-ansbutton{
    background:#ce9d05;
    border:1px solid #ce9d05;
    color: white;
    margin-right: 5px;
    text-decoration: none;
}
.THIS .btn-ansbutton:hover{
    background:#947103;
    border:1px solid #947103;
    color: white;
    margin-right: 5px;
    text-decoration: none;
}
.THIS .tblscrll{
    border: 0px;
    width: 100%; 
    display:block; 
    overflow-x:scroll; 
}
.THIS .sechdrEquip{
    padding-top:25px; 
    padding-bottom:15px;; 
}
.THIS .sechdrWay{
    padding-top:20px; 
    padding-bottom:15px;; 
}
.THIS .changeGreen {
    background-color:#80ffbf !important;
}
.THIS .changeRed {
    background-color:#ff6666 !important;
}